<ion-view title="All Bills" hide-nav-bar="true" id="page6" style="background-color:#EE4B59;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div id="allBills-button-bar1" class=" button-bar "></div>
        <form id="allBills-form3" class="list ">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="Search Bills">
            </label>
            <button id="allBills-button16" style="border-radius:10px 10px 10px 10px;" class=" button button-dark button-small button-block ">Saved Bills</button>
        </form>
        <h4 id="allBills-heading10" style="color:#000000;text-align:center;" class=" ">Bills</h4>
        <div class="item item-body " id="allBills-list-item-container11">
            <p id="allBills-markdown28" style="margin-top:0px;color:#000000;" class=" "> {{ billOne }} </p>
        </div>
        <div class="item item-body " id="allBills-list-item-container12">
            <p id="allBills-markdown29" style="margin-top:0px;color:#000000;" class=" "> {{ billTwo }} </p>
        </div>
        <div class="item item-body " id="allBills-list-item-container13">
            <p id="allBills-markdown30" style="margin-top:0px;color:#000000;" class=" "> {{ billThree }}</p>
        </div>
        <div class="item item-body " id="allBills-list-item-container14">
            <p id="allBills-markdown31" style="margin-top:0px;color:#000000;" class=" "> {{ billFour }}</p>
        </div>
    </ion-content>
</ion-view>