<ion-view title="Change Password" hide-nav-bar="true" id="page14" style="background-color:#6600cc;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="spacer" style="width: 300px; height: 84px;"></div><div style="font-family:Century Gothic">
        <center><button id="politicianProfile-button82" style="width:100px;height:100px; border-radius:49%;" class=" button button-calm  icon ion-android-person "></button></center>
        <h4 id="changePassword-heading15" style="color:#FFFFFF;text-align:center;" class=" ">Change Password</h4>
        <form style="font-family:Century Gothic;" id="changePassword-form12" class="list ">
            <label class="item item-input " id="changePassword-input13">
                <span class="input-label">Old Password</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="changePassword-input14">
                <span class="input-label">New Password</span>
                <input type="text" placeholder="">
            </label>
            <label class="item item-input " id="changePassword-input15">
                <span class="input-label">Retype Password</span>
                <input type="text" placeholder="">
            </label>
        </form>
        <a ui-sref="profile" id="changePassword-button33" style="font-weight:600;" class=" button button-light  button-block ">Change Password</a>
        <a ui-sref="profile" id="changePassword-button34" style="font-weight:600;" class=" button button-light  button-block ">Cancel</a>
    </div>
	</ion-content>
</ion-view>