<ion-view title="My Government" hide-nav-bar="true" id="page10" style="background-color:#EE4B59;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <h4 id="myGovernment-heading4" style="color:#FFFFFF;" class=" ">Home Base: New York, NY</h4>
        <div class="list card " id="myGovernment-card26">
            <h4 id="myGovernment-heading11" style="color:#000000;text-align:center;" class=" ">Home Base: New York, NY</h4>
        </div>
        <div class="list card " id="myGovernment-card25">
            <h5 id="myGovernment-heading7" style="color:#000000;text-align:center;" class=" ">Local Government</h5>
            <div class="item item-body " id="myGovernment-list-item-container5">
                <button id="myGovernment-button18" style="font-weight:500;font-size:16px;text-align:left;" class=" button button-light button-small button-block ">Mayor</button>
                <button id="myGovernment-button19" style="font-weight:500;font-size:16px;text-align:left;" class=" button button-light button-small button-block ">Governor</button>
            </div>
        </div>
        <div class="list card " id="myGovernment-card22">
            <h5 id="myGovernment-heading8" style="color:#000000;text-align:center;" class=" ">State Government</h5>
            <div class="item item-body " id="myGovernment-list-item-container4">
                <button id="myGovernment-button20" style="font-weight:500;font-size:16px;text-align:left;" class=" button button-light button-small button-block ">Senator 1</button>
                <button id="myGovernment-button21" style="font-weight:500;font-size:16px;text-align:left;" class=" button button-light button-small button-block ">Senator 2</button>
                <button id="myGovernment-button22" style="font-weight:500;font-size:16px;text-align:left;" class=" button button-light button-small button-block ">Congressman 1</button>
            </div>
        </div>
        <div class="list card " id="myGovernment-card23">
            <h5 id="myGovernment-heading9" style="color:#000000;text-align:center;" class=" ">Federal Government</h5>
            <div class="item item-body " id="myGovernment-list-item-container6">
                <button id="myGovernment-button23" style="font-weight:500;font-size:16px;text-align:left;" class=" button button-light button-small button-block ">President</button>
                <button id="myGovernment-button24" style="font-weight:500;font-size:16px;text-align:left;" class=" button button-light button-small button-block ">Vice President</button>
                <button id="myGovernment-button25" style="font-weight:500;font-size:16px;text-align:left;" class=" button button-light button-small button-block ">Secretary of State</button>
            </div>
        </div>
        <a ui-sref="home" id="myGovernment-button17" style="font-weight:500;border-radius:0px 0px 0px 0px;" class=" button button-calm button-small button-block icon ion-ios-home ">Back to Home Screen</a>
    </ion-content>
</ion-view>