<ion-view title="Petition" hide-nav-bar="true" id="page5" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding" scroll="false">
        <h1 id="petition-heading1" style="color:#000000;" class=" ">(Bill)</h1>
        <p id="petition-markdown1" style="color:#000000;" class=" "></p>
        <div>
            <p>
                (Summary)
                <br>..
                <br>..
                <br>..
                <br>..
                <br>..
                <br>..
                <br>..
                <br>
            </p>
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <div class="">
            <img src="img/aIpX7kWZQLWV5E7tF0bq_facebook_profile_picture.jpg" width="30%" height="auto" style="display: block; margin-left: auto;">
        </div>
        <div class="spacer" style="height: 100px;"></div>
        <button id="petition-button11" class=" button button-positive  button-block ">View all</button>
    </ion-content>
</ion-view>