<ion-view title="Profile" hide-nav-bar="true" id="page11" style="background-color:#6600cc;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <h3 id="profile-heading13" style="color:#FFFFFF;text-align:center;" class=" "></h3>
        <center><button id="politicianProfile-button82" style="width:100px;height:100px; border-radius:49%;" class=" button button-calm  icon ion-android-person "></button></center>
        <h4 id="profile-heading25" style="color:#FFFFFF;text-align:center;" class=" ">[username]</h4>
        <form style="font-family:Century Gothic;font-weight:600px;" id="profile-form10" class="list ">
            <label class="item item-input " id="profile-input9">
                <span class="input-label">Hometown</span>
                <input type="text" placeholder="Sunshine, NY">
            </label>
            <label class="item item-input " id="profile-input12">
                <span class="input-label">First</span>
                <input type="text" placeholder="John">
            </label>
            <label class="item item-input " id="profile-input10">
                <span class="input-label">Last</span>
                <input type="text" placeholder="Doe">
            </label>
            <label class="item item-input " id="profile-input11">
                <span class="input-label">Age</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-select " id="profile-select1">
                <span class="input-label">Stance</span>
                <select>
                    <option></option>
                    <option>Republican</option>
                    <option>Democrat</option>
                    <option>Independent</option>
                </select>
            </label>
            <label class="item item-select " id="profile-select2">
                <span class="input-label">Identify as...</span>
                <select>
                    <option></option>
                    <option>Female</option>
                    <option>Male</option>
                    <option>LGBT[Expand to multiple options]</option>
                    <option>Other [Text box pops up to write what you identify as]</option>
                </select>
            </label>
            <a ui-sref="changePassword" id="profile-button28" style="font-weight:500;" class=" button button-light button-small button-block ">Change Password</a>
            <a ui-sref="home" id="profile-button29" style="font-weight:500;" class=" button button-light  button-block ">Log Out</a>
        </form>
    </ion-content>
</ion-view>