<ion-view title="Profile" hide-nav-bar="true" id="page11" style="background-color:#EE4B59;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <h3 id="profile-heading13" style="color:#FFFFFF;text-align:center;" class=" ">My Preferences</h3>
        <form id="profile-form10" class="list ">
            <label class="item item-input " id="profile-input9">
                <span class="input-label">First</span>
                <input type="text" placeholder="John">
            </label>
            <label class="item item-input " id="profile-input10">
                <span class="input-label">Last</span>
                <input type="text" placeholder="Doe">
            </label>
            <label class="item item-input " id="profile-input11">
                <span class="input-label">Age</span>
                <input type="number" placeholder="">
            </label>
            <label class="item item-select " id="profile-select1">
                <span class="input-label">Stance</span>
                <select>
                    <option></option>
                    <option>Female</option>
                    <option>Male</option>
                    <option>LGBT[Expand to multiple options]</option>
                    <option>Other [Text box pops up to write what you identify as]</option>
                </select>
            </label>
            <label class="item item-select " id="profile-select2">
                <span class="input-label">Identify as...</span>
                <select>
                    <option></option>
                    <option>Female</option>
                    <option>Male</option>
                    <option>LGBT[Expand to multiple options]</option>
                    <option>Other [Text box pops up to write what you identify as]</option>
                </select>
            </label>
            <a ui-sref="changePassword" id="profile-button28" style="font-weight:500;" class=" button button-light button-small button-block ">Change Password</a>
            <a ui-sref="home" id="profile-button29" style="font-weight:500;" class=" button button-light  button-block ">Log Out</a>
        </form>
    </ion-content>
</ion-view>