<ion-view title="What's New" hide-nav-bar="true" id="page16" style="background-color:#EE4B59;" class=" ">
    <ion-content padding="true" class="manual-ios-statusbar-padding">
        <div class="list card " id="whatSNew-card28">
            <h2 id="whatSNew-heading16" style="color:#000000;" class=" ">Ionic Creator Banned</h2>
            <p id="whatSNew-markdown22" style="color:#000000;" class=" ">
                <strong>Passed:</strong>July 23, 2016</p>
            <p id="whatSNew-markdown23" style="color:#000000;" class=" ">
                <strong>Sponsor:</strong>Sal Mon</p>
            <div class=" item item-image">
                <img src="img/1WwTQyi1RcUAhTNsNUgz_angry_cartoon.jpg" width="20" height="200" style="display: block; margin-left: auto; margin-right: auto;">
            </div>
            <div class="spacer" style="width: 300px; height: 17px;"></div>
            <p id="whatSNew-markdown26" style="color:#000000;text-align:center;" class=" ">Bill Description</p>
        </div>
        <div class="spacer" style="width: 300px; height: 32px;"></div>
        <a ui-sref="allBills" id="whatSNew-button12" style="font-weight:500;" class=" button button-light button-small button-block ">View All</a>
    </ion-content>
</ion-view>