.custom-vote-button-one {
    background-color: #E02727;
    border: none;
    color: white;
    padding: 150px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.custom-vote-button-one:hover {
    background-color: #CC1E1E;
    border: none;
    color: white;
    padding: 150px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
}
.custom-profile-button-one {
    background-color: #353131;
    border: 20px;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    width: 100%;
}
.custom-profile-button-one:hover {
    background-color: #000000;
    border: 20px;
    color: white;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    width: 100%;
}
.custom-petition-button-one {
    background-color: #0EBBF4;
    border: none;
    color: white;
    padding: 150px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;0
}
.custom-petition-button-one:hover {
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 150px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;0
}






































